<header>
  <h1><%= @item.name %></h1>

  <ul class="actions">
    <li><%= link_to 'Edit Item', edit_item_path(@item), class: 'edit' %></li>
    <% admins_only do %>
    <li>
      <%= link_to 'Delete Item',
                  item_path(@item),
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this item?'},
                  class: 'delete'
      %>
    </li>
    <% end  %>
  </ul>

</header>

<p>Quantity: <%= @item.quantity %></p>

<header>
  <h2>Comments</h2>

  <ul class="actions">
    <li><%= link_to 'New Comment', new_item_comment_path(@item), class: 'new' %></li>
  </ul>
</header>

<ul id="comments">
  <% @item.comments.each do |comment|  %>
    <li>
      #<%= comment.id %> - <%= comment.body %>
    </li>
  <% end  %>
</ul>